
.ballIcon{
  width: 3rem;
  height: 3rem;
  position: absolute;
  bottom: 6rem;
  cursor: pointer;
  z-index: 3;
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out;
}


.redIcon {
  left: 0;
  bottom:0;
}
.redIcon:hover{
  background-color: rgb(247, 95, 153);
}

.blueIcon {
  left: 0;
  bottom:8%;
}

.blueIcon:hover{
  background-color: rgb(138, 120, 240);
}

.subPage {
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease-in-out;
}

.subPage.inactive{
  display: none;
}
.subPage.active{
  display: flex; /* 수정: display 속성을 flex로 변경 */
}
.subcontainer{
  width:100%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .ballIcon{
    width: 2rem;
    height: 2rem;
  }
  .blueIcon {
    bottom: 3rem;
  }
  .redIcon{
    bottom: 0;
  }
}


