.applicationContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height:100%;
    width:100%;
    background-color:rgba(0,0,0,0.1);
    border-radius: 10px;
    overflow-y: scroll;
}
.applicationContainer::-webkit-scrollbar {
    width: 10px;
  }
  .applicationContainer::-webkit-scrollbar-thumb {
    background-color: #2f3542;
    border-radius: 10px;
  }
  .matchingContainer::-webkit-scrollbar-track {
    background-color: grey;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
  }
  .matchingTitle{
    margin-top: 40%;
    font-weight: bold;
    padding: 1% 5%;
    border-radius: 10px;
  }
  .applicationContainer form{
    width:90%;
    height:80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30%;
  }
  .address,.time,.party{
    width:60%;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top:10%;
    font-weight: bold;
    font-size: 6rem;
  }
  .subTitle{
    font-size: 40%;
    border-radius: 10px;
    padding: 1% 3%;
  }
  .mBtn{
    border: transparent;
    border-radius: 10px;
    color:white;
    transition: color,background-color 0.5s, transform 0.5s;
    cursor: pointer;
    font-weight: bold;
    padding: 1% 3%;
  }

  .pointBtn{
    margin-top: 10%;
    padding: 3% 7%;
    margin-bottom: 5rem;
  }
  .mSubBtn{
    padding: 2% 20%;
    margin-bottom: 35%;
  }
  .inputAddress {
    width: 40%;
    height: 60%;
    padding: 1% 3%;
    border-radius: 10px;
    border: transparent;
    color: white;
    font-weight: bold;
    transition: border,color,background-color 0.5s, transform 0.5s;
    cursor: pointer;
  }

  .timeTitle {
    font-weight: bold;
  }

  .timeSelect {
    display: flex;
    align-items: center;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
  }

  .timeSelect select {
    border: none;
    background-color: transparent;
    font-size: 16px;
  }
  

  @media (max-width: 767px) {
    .matchingContainer form{
      text-align: center;
    }
    .subTitle{
      font-size: 40%;
      margin-right: 0;
      margin-bottom: 5%;
    }
    .address,.time,.party{
    flex-direction: column;
    }
    .mDate{
      width:60%;
    }
    .addressBtn{
     margin-top:5%;
     margin-left:0;
    }
    .subTitle{
      text-align: center;
    }
    .mSubBtn{
      padding: 3% 30%;
    }
  }
  
