.fContainer {
    background-image: linear-gradient(rgba(233, 233, 233, 0.2), rgba(233, 233, 233, 0.2)), url("../../../../Img/first.jpg");
  }
  .fButton{
    background-color:rgb(146, 163, 243);
  }

  .fButton:hover{
    background-color: rgb(4, 49, 250);
    color:rgb(45, 175, 226);
}
.fTitle{
  background-color: rgb(21, 21, 156);
  color: white;
}
.fSubTitle{
  color:white;
  background-color: rgb(130, 130, 243);
}
.fInputAddress:hover{
  border: 1px solid skyblue;
  color:rgb(74, 247, 247);
  background-color: rgb(145, 145, 240);
}