.inactive {
    display: none;
}
h3{
    margin-left: 10px;
}
.find-form {
    border-radius: 1px;
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}
.find-name {
    margin-bottom: 10px;
}
.input_ {
    margin-bottom: 10px;
}
.button {
    padding: 5px 10px;
}
body{
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
    color: #282b33;
}
div{
    display: block;
}
label{
    margin-bottom: 10px;
    display: block;
    font-size: 12px;
    font-weight: 600;
    color: #07b4f8;
    cursor: pointer;
}

[type="text"], [type="email"], [type="tel"]{
    border: 1px solid #d9e0e6;
    background-color: #f8fafb;
    width: 100%;
    height: 54px;
    border-radius: 16px;
    padding: 14px 15px;
    font-size: 16px;
    box-sizing: border-box;
    outline: none;
    margin-bottom: 5px;
}
ul, li{
    list-style: none;
}
.button {
    display: inline-block;
    padding: 12px 24px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    border-radius: 12px;
    cursor: pointer;
    background-color: #07b4f8;
    color: #FFFFFF;
    border: none;
    transition: background-color 0.3s ease;
    margin-bottom: 5px;
}
.button:hover, .button2:hover {
    background-color: #0F59D6;
}
input {
    margin-bottom: 10px;
}
.button-container {
    display: flex;
    align-items: center;
}
.button {
    margin-left: 10px;
    padding: 10px 20px;
}
.button2{
    background-color: #07b4f8;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    display: flex;
    color: #FFFFFF;
    border: none;
    transition: background-color 0.3s ease;
    margin-bottom: 5px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
    width: 300px;
}
.select-tab input[type="radio"] {
    display: none; /* 기본 라디오 버튼 숨김 */
}

.select-tab label {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f2f2f2;
    border-radius: 4px;
    cursor: pointer;
}

.select-tab input[type="radio"]:checked + label {
    background-color: #ccc; /* 선택된 라디오 버튼 스타일 */
}
li{
    list-style: none;
}

