
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
body, html {
    margin: 0;
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
    color: #282B33;
    background-color: white;
    width: 100%;
    height: 100%;
    transition: 0.25s;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    box-sizing:border-box;
}
p {
    word-break: keep-all;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 40px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

div {
    display: block;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
}
.charge {
    padding: 15px;
}
.charge__select-title {
    color: #4B5A64;
    font-size: 15px;
    font-weight: bold;
    line-height: 150%;
    margin-bottom: 10px;
}
.input label, .input-double label {
     margin-left: 5px;
    margin-bottom: 10px;
    display: block;
    font-size: 12px;
    font-weight: 600;
    color: #727F88;
}
[type="radio"]+label {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0;
    font-size: 15px;
    color: #282B33;
    font-weight: 400;
    margin: initial;
}
.radio-gnb+label {
    cursor: pointer;
    font-size: 13px;
    border: 1px solid #D9E0E6;
    border-radius: 4px;
    padding: 5px 15px;
    margin: 0 10px;
    background-color: #FFFFFF;
    text-align: center;
    align-items: center;
}
li .radio-gnb+label {
    display: block;
}
.radio-item__box [type="radio"]+label {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    font-size: 14px;
    color: #282B33;
    font-weight: 400;
    margin: initial;
    background-color: #F2F5F7;
    width: 100%;
    text-align: center;
    border-radius: 6px;
}
.radio-item__box {
    display: inline-block;
    width: 33%; /* 한 줄에 3개의 버튼이 보이도록 설정 */
    box-sizing: border-box;
    padding: 10px;
}

.radio-wrap {
    display: inline-block;
    width: 100%;
    text-align: center;
}
.radio-wrap .radio-item__box [type="radio"]+label {
    border-radius: 10px;
    color: #727F88;
    font-size: 13px;
    line-height: 20px;
}
.radio-wrap .radio-item__box [type="radio"]:checked+label {
    color: white;
}
.radio-wrap .radio-item__box [type="radio"]+label {
    border-radius: 10px;
    color: #727F88;
    font-size: 13px;
    line-height: 20px;
}

.radio-item__box [type="radio"]:checked+label {
    background-color: #1570FF;
    color: white;
}
.radio-gnb:checked+label {
    color: white;
    background-color: #3534A5;
}
.radio-gnb+label {
    cursor: pointer;
    font-size: 13px;
    border: 1px solid #D9E0E6;
    border-radius: 4px;
    padding: 5px 15px;
    margin: 0 10px;
    background-color: #FFFFFF;
    text-align: center;
    align-items: center;
}
[type="radio"]+label {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0;
    font-size: 15px;
    color: #282B33;
    font-weight: 400;
    margin: initial;
}
.input label, .input-double label {
    /* margin-left: 5px; */
    margin-bottom: 10px;
    display: block;
    font-size: 12px;
    font-weight: 600;
    color: #727F88;
}

li .radio-gnb+label {
    display: block;
}
:root {
    --fc-daygrid-event-dot-width: 8px;
}

.radio-item__box [type="radio"]+label p {
    width: 100%;
}
.charge__select-desc {
     color: #1570FF;
     font-size: 12px;
     text-align: right;
     margin-right: 10px;
 }

.radio-wrap.hstack {
    /*display: flex;*/
    align-items: center;
    padding: 5px;

}
.payment-icon{
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: space-between;
}
.payment-icon button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    vertical-align: middle;
    width: 30%;
    background: none;
    cursor: pointer;
}
.payment-icon button img{
    width: 100%;
    height: auto;
    max-width: 100px;
}
.check-money{
    font-size: 20px;
    color: white;
    background-color: #07b4f8;
    text-align: center;
    border-radius:10px;
}