.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    background-image: url('../img/startPage.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
    z-index: 10;
  }
  .hidden {
    opacity: 0;
  }