<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/styles/layouts/AdminpageLayout2}">

<head>
    <style>
        table {
            /*border: 1px solid black;*/
            border-collapse: collapse;
            width: 100%;
            /*text-align: center;*/
        }

        /*table td {*/
        /*    border: 1px solid black;*/
        /*}*/

        /*#search-div, #paging, #search-regdate {*/
        /*    display: flex;*/
        /*    justify-content: center;*/
        /*}*/

        /*#search-form select {*/
        /*    margin-right: 10px;*/
        /*}*/


        th, td {
            padding: 8px;
            text-align: left;
            border: 1px solid #ddd;
        }

        th, thead td {
            background-color: #f2f2f2;
        }

        /* 버튼 스타일 */
        button, input[type="submit"] {
            padding: 8px 16px;
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
            border-radius: 4px;
        }

        /* 링크 스타일 */
        a {
            color: #4CAF50;
            text-decoration: none;
            cursor: pointer;
        }

        /* 입력 필드 스타일 */
        input[type="search"], select, input[type="date"] {
            padding: 5px 7px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        input[type="search"], select {
            margin-right: 10px;
        }

        /* 페이지 링크 스타일 */
        #bottom a, #bottom span {
            margin-right: 5px;
        }
    </style>

    <script>
        $(function() {
            // 체크박스 개수에 따라 전체 선택 체크박스를 체크 설정/해제
            $("input[name=selectedUser]").change(function() {
                if ($("input[name=selectedUser]:checked").length === $("input[name=selectedUser]").length) {
                    $("#checkAll").prop("checked", true);
                }
                else {
                    $("#checkAll").prop("checked", false);
                }
            });

            $("#search-form").on("submit",function(e) {
                e.preventDefault();
                let regDateStart = $("#regDateStart").val();
                let regDateEnd = $("#regDateEnd").val();
                if (regDateStart > regDateEnd) {
                    alert("시작일은 종료일보다 이전이어야 합니다.");
                    return false;
                }

                console.log(this)
                console.log($(this).serialize())

                location.href = "/matchGetIt/admin/inquiryBoard/0?" + $(this).serialize();
            });
        });

        // 전체 선택 처리
        function checkAllBox(){
            const allChecked = $("#checkAll").prop("checked");
            $("input[name=selectedUser]").prop("checked", allChecked);
        }


        // 목록 페이지 이동
        function page(page) {
            let query = location.search;
            location.href = "/matchGetIt/admin/inquiryBoard/"+ page + query;
        }


        // 회원 삭제 확인
        function confirmDelete(form) {
            let selectedUser = $("input[name=selectedUser]:checked");

            if (selectedUser.length === 0) {
                alert("선택한 게시물이 없습니다.");
                return false;
            }

            let confirmRes = confirm(selectedUser.length+"개의 게시물을 삭제하시겠습니까? (삭제하면 되돌릴 수 없습니다.)");

            if (!confirmRes) return false;
            else {
                let arr = [];
                selectedUser.each(function() {
                    arr.push($(this).val())
                });
                console.log(arr)
                deletePost(arr);
            }
        }

        // 선택한 회원 삭제 | 회원 id를 배열로 받아서 컨트롤러에 넘김 (ajax 사용)
        function deletePost(arr) {
            let token = $("meta[name='_csrf']").attr("content");
            let header = $("meta[name='_csrf_header']").attr("content");

            $.ajax({
                url: "/matchGetIt/admin/inquiryBoard",
                type: "DELETE",
                beforeSend: function(xhr) { //XHR : XmlHttpRequest
                    /* 데이터를 전송하기 전에 헤더에 csrf 값을 설정 */
                    // xhr.setRequestHeader(header, token);
                },
                data: {arr: arr},
                // dataType : "json",
                cache: false,

                success: function() {
                    alert("삭제하였습니다.");
                    location.reload();
                },

                error: function(jqXHR, status, error) {
                    // if (jqXHR.status == '401') {
                    //     alert("로그인 후 이용해주세요");
                    //     location.href='/members/login';
                    // }
                    // else {
                    //     alert(jqXHR.responseJSON.message);
                    // }
                    alert("삭제에 실패하였습니다.");
                }
            });
        }
    </script>
</head>

<section layout:fragment="content">

    <h2>문의 게시판</h2>

    <form method="get" onsubmit="confirmDelete(this);" :object="${userList}">
        <div>
            <button type="submit">선택한 게시물 삭제하기</button>
<!--            <button type="button" id="downloadBtn" onclick="location.href='/matchGetIt/admin/download';">Excel 파일로 다운로드</button><br>-->
        </div>
        <br>

        <table>
            <thead>
            <tr>
                <td><input type="checkbox" id="checkAll" onclick="checkAllBox(this);" /></td>
                <td>번호</td>
                <td>제목</td>
                <td>작성자</td>
                <td>작성일</td>
                <td>카테고리</td>
                <td>처리 상황</td>
                <td>답변</td>
            </tr>
            </thead>

            <tbody>
            <tr th:if="${inquiryList.isEmpty()}">
                <td colspan="8">등록된 문의가 없습니다.</td>
            </tr>

            <tr th:each="post: ${inquiryList.getContent()}">
                <td>
                    <input type="checkbox" name="selectedUser" th:value="${post.id}">
                </td>
                <td th:text="${post.id}">123</td>
                <td style="width: 20%;">
                    <a th:href="@{'/matchGetIt/admin/inquiry/'+${post.id}}" th:text="${post.title}">결제 문의</a>
                </td>
                <td th:text="${post.writedBy}">홍길동</td>
                <td th:text="${post.regDate}">2023-00-00</td>
                <td th:text="${post.category}">결제</td>
                <td th:text="${post.state}" style="width: 20%;">접수 전/처리 중/처리 완료</td>
<!--                <td th:text="${post.repliedBy}">이효성</td>-->
                <td th:text="${post.commentList.size()}">1</td>
            </tr>
            </tbody>

        </table>

        <br>
        <div id="bottom" style="text-align: center"
             th:with="currPageText=${currPageNum}+1, max=${inquiryList.getTotalPages() + 1}, pageSizeHalf=5/2">
            <!--            <a href="/matchGetIt/admin/userList">[first]</a>-->

            <th:block th:each="page2: ${#numbers.sequence(pageSizeHalf, 1)}" th:if="${currPageText - page2 > 0}">
                <a th:text="${currPageText - page2}" th:onclick="|page(${currPageNum - page2})|"></a>
            </th:block>

            <span th:text="${currPageText}"></span>

            <th:block th:each="page2: ${#numbers.sequence(1, pageSizeHalf)}" th:if="${currPageText + page2 < max}">
                <a th:text="${currPageText + page2}" th:onclick="|page(${currPageNum + page2})|"></a>
            </th:block>
        </div>
    </form>

    <br>

    <form method="get" name="search-form" id="search-form" th:object="${searchInquiryDTO}">
        <div>
            <div id="search-regdate">
<!--                <label>가입일:</label>-->
                <input type="date" th:field="*{regDateStart}" /> ~
                <input type="date" th:field="*{regDateEnd}" />
            </div>
            <br>

            <div id="search-div">
                <label for="state">처리 상황:</label>
                <select id="state" th:field="*{state}">
                    <option value="">전체</option>
                    <option value="접수 대기">접수 대기</option>
                    <option value="처리 중">처리 중</option>
                    <option value="처리 완료">처리 완료</option>
                </select>

                <label for="category">카테고리:</label>
                <select id="category" th:field="*{category}">
                    <option value="">전체</option>
                    <option value="계정">계정</option>
                    <option value="결제">결제</option>
                    <option value="경기/매칭">경기/매칭</option>
                    <option value="기타">기타</option>
                </select>

                <label for="searchType">검색 유형:</label>
                <select id="searchType" th:field="*{searchType}">
<!--                    <option value="userId">번호</option>-->
                    <option value="title">제목</option>
                    <option value="content">내용</option>
                    <option value="writedBy">작성자</option>
                </select>

                <label for="searchValue">검색어:</label>
                <input type="search" id="searchValue" th:field="*{searchValue}" />
                <input type="submit" value="검색" />
            </div>
            <br>
            <div id="paging">
                <label for="pageSize">한 페이지에 보여줄 게시물 수:</label>
                <select id="pageSize" th:field="*{pageSize}">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="50">50</option>
<!--                    <option value="70">70</option>-->
<!--                    <option value="100">100</option>-->
                </select>
                <input type="submit" value="적용" />
            </div>
        </div>
    </form>
</section>

</html>