<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
  <title>Match Get it - 관리자 페이지</title>
  <style type="text/css">
  	.admin-info {
	  position: absolute;
	  top: 20px;
	  right: 20px;
	  display: flex;
	  align-items: center;
	}
	
	.admin-info .admin-name {
	  margin-right: 10px;
	  font-weight: bold;
	}
	
	.admin-info a {
	  color: #333;
	  text-decoration: none;
	}
	.logo {
		padding-left: 10px;
	}
	.logo-a {
	  text-decoration: none;	
	}	
  </style>
</head>
<body>
<header>
  <div class="logo">
  	<a href="/MatchGetIt/admin" style="text-decoration: none;">
    <img src="../../styles/img/mainball.png" alt="Match Get it 로고" style="width: 30px; height: auto;">
    Match Get it
  	</a>
  </div>
  <div class="admin-info">
    <span class="admin-name">xxx관리자 님</span>
    <a href="logout">로그아웃</a>
  </div>
</header>
<h3>관리자 페이지</h3>
<hr>

</body>
</html>