<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>추가정보 입력</title>
    <link href="../css/KakaoSignUp.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="signUp-wrap">
    <div class="signUp-box">
        <div class="signUpContainer">
            <div class="signUpTitle">추가 정보 입력!</div>
            <form action="/matchGetIt/kakao" method="post">
                <div class="phoneNumber_input">
                    <div class="subTitle">핸드폰번호:</div>
                    <input
                            type="tel"
                            class="phoneNumber"
                            name="phoneNumber"
                            placeholder="010-0000-0000"
                            required
                    />
                </div>
                <div class="birthdate_input">
                    <div class="subTitle">생년월일:</div>
                    <input
                            type="date"
                            class="birthdate"
                            name="birthdate"
                            required
                    />
                </div>

                <div class="radioBtn proficiency">
                    <div class="subTitle">숙련도:</div>
                    <input
                            type="radio"
                            id="advanced"
                            class="proficiency"
                            name="proficiency"
                            value="ADVANCED"
                    />
                    <label for="advanced">상</label>
                    <input
                            type="radio"
                            id="middle"
                            class="proficiency"
                            name="proficiency"
                            value="MIDDLE"
                    />
                    <label for="middle">중</label>
                    <input
                            type="radio"
                            id="beginner"
                            class="proficiency"
                            name="proficiency"
                            value="BEGINNER"
                            checked
                    />
                    <label for="beginner">하</label>
                </div>
                <button class="submitBtn" type="submit">
                    회원가입 완료
                </button>
            </form>
        </div>
    </div>
</div>
</body>
</html>