input {
    border: 1px solid #bbb;
    font-size: 12px;
    height: 10px;
    border-radius: 8px;
    padding: 10px 12px;
    margin-bottom: 15px;
}

button {
    text-align: center;
    border: 1px solid #cccccc;
    height: 20px;
    width: 20px;
}

#img1 {
    background-image: url("https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png");
    background-size: 30px;
    width: 30px;
    height: 30px;

}

#addBtn{
    float: right;
    width: 70px;
    height: 35px;
    text-align: center;
    font-size: 12px;
    background-color: #00BFFF;
    border: 1px solid rgba(154, 154, 154, 0.35);
    border-radius: 25px;
    color: #FFFFFF;
    transform: rotate(-0.02deg);
    margin-right: 100px;

}

#std_addImgBtn{
    text-align: center;
    font-size: 12px;
    width: 80px;
    height: 35px;
    background-color: #00BFFF;
    border: 1px solid rgba(154, 154, 154, 0.35);
    border-radius: 25px;
    color: #FFFFFF;
    transform: rotate(-0.02deg);
}

#std_search{
    width: 150px;
}

.std_addForm{
    margin-top: 70px;
}

.left {
    float:left;
    width:20%;
}

.searchbar {
    display:inline-block;
    width:90%;
    margin-left:10px;
    margin-top: 10px;
 }

.list .std_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px 100px 100px 100px;

}

.list .std_list .card{
    border: 1px solid #eee;
    border-radius: 5px;
    height:300px;
    width: 300px;
    padding: 5px;
    margin-bottom: 10px;
}

.list .std_list .card img{
    height: 250px;
    width: 300px;

}

.list .std_list .card .text p{
    font-size: 14px;
    opacity: .8;
    text-align: center;
}


a{
    text-decoration: none;
}

.addForm_left{
    text-align: left;
    width: 40%;
    margin-right: 20px;
    line-height: 10px;
    margin-left: 400px;

}

.addForm_right {
    float: right;
    text-align: left;
    margin-left: 5px;
}

#std_addBtn, #std_editBtn{
    text-align: center;
    font-size: 12px;
    width: 80px;
    height: 35px;
    background-color: #00BFFF;
    border: 1px solid rgba(154, 154, 154, 0.35);
    border-radius: 25px;
    color: #FFFFFF;
    transform: rotate(-0.02deg);
    margin-left: 40%;
}

#edit_stdBtn, #delete_stdBtn{
    text-align: center;
    font-size: 12px;
    width: 80px;
    height: 35px;
    background-color: #00BFFF;
    border: 1px solid rgba(154, 154, 154, 0.35);
    border-radius: 25px;
    color: #FFFFFF;
    transform: rotate(-0.02deg);
    margin-left: 20px;
}


.std_addForm .addForm_left img,
.edit_form img{
    height: 200px;
    width: 250px;

}

.rad-label {
    display: flex;
    align-items: center;

    border-radius: 50px;
    padding: 12px 14px;
    margin: 10px 0;

    cursor: pointer;
    transition: .3s;
}

.rad-label:hover,
.rad-label:focus-within {
    background: hsla(0, 0%, 80%, .14);
}

.rad-input {
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 1px;
    opacity: 0;
    z-index: -1;
}

.rad-design {
    width: 16px;
    height: 16px;
    border-radius: 50px;

    background: linear-gradient(to right bottom, hsl(154, 97%, 62%), hsl(225, 97%, 62%));
    position: relative;
}

.rad-design::before {
    content: '';

    display: inline-block;
    width: inherit;
    height: inherit;
    border-radius: inherit;

    background: hsl(0, 0%, 90%);
    transform: scale(1.1);
    transition: .3s;
}

.rad-input:checked+.rad-design::before {
    transform: scale(0);
}

.rad-text {
    color: hsl(0, 0%, 60%);
    margin-left: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 800;
    transition: .3s;
}

.rad-input:checked~.rad-text {
    color: hsl(0, 0%, 40%);
}

HTML CSSResult Skip Results Iframe
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    color: #384047;
}

form {
    max-width: 300px;
    margin: 10px auto;
    padding: 10px 20px;
    background: #f4f7f8;
    border-radius: 8px;
}

h1 {
    margin: 0 0 30px 0;
    text-align: center;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 70%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
    margin: 0 4px 8px 0;
}

select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
}

button {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #4bc970;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #3ac162;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
}

fieldset {
    margin-bottom: 30px;
    border: none;
}

legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 8px;
}

label.light {
    font-weight: 300;
    display: inline;
}

.number {
    background-color: #5fcf80;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 100%;
}

@media screen and (min-width: 480px) {

    form {
        max-width: 480px;
    }

}