a {text-decoration: none; color: #666;}
li {list-style: none;}

.tab-menu::-webkit-scrollbar {
    width: 8px;  /* 스크롤바의 너비 */
}

.tab-menu::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #217af4; /* 스크롤바의 색상 */

    border-radius: 10px;
}

.tab-menu::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, .1);  /*스크롤바 뒷 배경 색상*/
}

.boardName{
    color: white;
    width: 80%;
    max-width: 1000px;
    text-align: left;
    margin: 0 auto;
}
h6{
    margin: 0;
}

.matchBoard_outline{
    width: 100%;
    height: 100%;
}

.please{
    height: 100%;
    width: 100%;
    max-width: 1000px;
    align-items: center;
    text-align: center;
    margin: 0 auto;

}

.ranking_menu{
    width: 100%;
    height: 15%;
}

.tab-menu {
    text-align: center;
    padding: 0;
    max-height: 380px;
    overflow: auto;
    width: 90%;
    align-items: center;
    margin: 0 auto;
}

.rank_myRank{
    width:90%;
    margin: 10px auto 25px;
}

.rank_table_wrap {
    width: 90%;
    align-items: center;
    margin: 0 auto;
    height: 80%;

}

.ranking_menu ul{
    padding-left: 0;
    margin: 10px auto 0;
}

table{
    border-collapse: collapse;
}
.ranking_menu li a {
    font-weight: bold;
    float: left;
    font-size: 50%;
    padding-left: 1.5%;
    padding-right: 2%;
    padding-bottom: 1.5%;
}

@media screen and (max-width: 636px){
    .Ranking_ALL{
        color: #870B22;
        position: absolute;
        left: 10%;
    }
    .Ranking_A{
        color: #FFCF0A;
        position: absolute;
        left: 25%;
    }
    .Ranking_B{
        color: #00B46C;
        position: absolute;
        left: 65%;
    }
    .Ranking_C{
        color: #1570FF;
        position: absolute;
        left: 10%;
        top: 14%;
    }
    .Ranking_D{
        color: #FF4D37;
        position: absolute;
        left: 35%;
        top: 14%;
    }
}

.Ranking_ALL{
    color: #870B22;
}
.Ranking_A{
    color: #FFCF0A;
}
.Ranking_B{
    color: #00B46C;
}
.Ranking_C{
    color: #1570FF;
}
.Ranking_D{
    color: #FF4D37;
}

.ranking_menu li.active a {
    border-bottom: 3px solid #00BFFF;
    color: #00BFFF;
}
ranking_menu li div {
    background: #fff;
    text-align: left;
    box-sizing: border-box;
    border-radius: 0 0 4px 4px;

}

body {
    font-size: 100%;
}
body::before {
    content:'';
    position: fixed; top: 0; left: 0;
    z-index: -1;
    background: rgba(4,127,21,0.9);
}



th {
    color: #282c34;
    font-weight: lighter;
    font-size: 15px;
}

.rank_table tbody{
    background-color: whitesmoke;
}




thead{
    position: sticky;
    top: 0;
}

.rank_tbody tr:hover {
    background-color: rgba(113, 110, 182, 0.15);
    color: #272b37;
}


.rank_table{
    width: 100%;
    text-align: center;
    top: 40%;
    display: table;
    overflow: auto;
    max-height: 100px;
}

.rank_myRank tbody {
    background-color: #FFF7CC ;
}

thead {
    background-color: #B1ECFF;
    line-height: 65%;
}


td  {
    font-size: 13px;
    text-align: center;
    border-bottom: 1px solid #e7e7e7;
    line-height: 60%;
    color: #666;
}
