<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>PaymentHistory</title>

  <link rel="stylesheet" href="css/PaymentHistory.css"/>

</head>
<body>
<header id="admin-header"></header>

<div id="admin-nb"></div>

<div style="padding-left: 255px">


  <div class="payment-header">
    <h2>결제 기록 조회</h2>
  </div>

  <hr>

  <div class="search-container">
    <form action="/payment-history" method="get">
      <label>
          <a>조회기간</a>
          <input type="date" id="checkStartDate" name="checkStartDate">
          ~
          <input type="date" id="checkEndDate" name="checkEndDate">
          <a >기록 검색</a>
      </label>

      <select name="searchCondition">
        <option value="name">이름</option>
        <option value="userNumber">회원 번호</option>
        <option value="gameNumber">경기 번호</option>
      </select>
      <input type="text" name="searchKeyword">
      <button type="submit">검색</button>



    <div class="container">
      <label class="button-label">
        <button onclick="setDateRange(0)">오늘</button>
        <button onclick="setDateRange(7)">1주일</button>
        <button onclick="setDateRange(30)">1개월</button>
        <button onclick="setDateRange(90)">3개월</button>
      </label>


      <label class="status-label">
        <a>거래 상태</a>
        <label>
          <input type="checkbox" name="paymentStatus" value="completed">
          결제 완료
        </label>
        <label>
          <input type="checkbox" name="paymentStatus" value="canceled">
          결제 취소
        </label>
        <label>
          <input type="checkbox" name="paymentStatus" value="refunded">
          부분 환불
        </label>
      </label>

    </div>

  <div class="buttons-container">
    <button class="reset-button">초기화</button>
  </div>
    </form>
  </div>
  <hr>
  <a href="path/to/your/excel/file.xlsx" download class="download-button">Excel 파일 다운로드</a>

  <table>
    <thead>
    <tr>
      <th></th>
      <th>결재 번호</th>
      <th>거래 일시</th>
      <th>취소 일시</th>
      <th>경기 번호</th>
      <th>회원 번호</th>
      <th>회원 이름</th>
      <th>거래 상태</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="paymentRecord : ${paymentRecords}" onclick="viewUserDetails('${applicant.userNumber}')">
      <td><input type="checkbox" name="selectedPayment" value="" /></td>
      <td th:text="${paymentRecord.paymentNumber}"></td>
      <td th:text="${paymentRecord.transactionDateTime}"></td>
      <td th:text="${paymentRecord.cancellationDateTime}"></td>
      <td th:text="${paymentRecord.gameNumber}"></td>
      <td th:text="${paymentRecord.memberNumber}"></td>
      <td th:text="${paymentRecord.memberName}"></td>
      <td th:text="${paymentRecord.paymentStatus}"></td>
    </tr>
    </tbody>
  </table>

</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="../../components/js/loadAdminNB.js"></script>
<script src="js/PaymentHistory.js"></script>
</body>
</html>
