.menu-bar {
  position: relative;
  z-index: 5;
}

.menu-icon {
  height: 30px;
  width: 30px;
  position: fixed;
  z-index: 6;
  left: 5%;
  top: 30px;
  cursor: pointer;
}

.menu-icon__line {
  height: 2px;
  width: 30px;
  display: block;
  background-color: #000000;
  margin-bottom: 4px;
  transition: background-color .5s ease, -webkit-transform .2s ease;
  transition: transform .2s ease, background-color .5s ease;
  transition: transform .2s ease, background-color .5s ease, -webkit-transform .2s ease;
}

.menu-icon__line-left {
  width: 15px;
}

.menu-icon__line-right {
  width: 15px;
  float: right;
}

.nav {
  position: fixed;
  z-index: 5;
  visibility: hidden;
}

.nav:before,
.nav:after {
  content: "";
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(234, 234, 234, 0.2);
  z-index: -1;
  transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s, -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
  -webkit-transform: translateX(-100%) translateY(0%);
  transform: translateX(-100%) translateY(0%);
}

.nav:after {
  background: white;
  transition-delay: 0s;
}

.nav:before {
  transition-delay: .1s;
}

.nav__content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  font-size: calc(2vw + 10px);
  font-weight: 200;
  opacity: 0;
  transition: opacity .3s ease, transform .3s ease;
}

.nav__list-item {
  position: relative;
  display: inline-block;
  opacity: 0;
  transform: translateX(0%);
  transition: opacity .3s ease, color .3s ease, transform .3s ease;
  margin-left: 10px;
  cursor: pointer;
}
.nav__list-item:hover{
  font-weight: bold;
}

.nav__list-item:before {
  content: "";
  position: absolute;
  background: #000000;
  width: 0;
  height: 1px;
  top: 100%;
  left: 0;
  -webkit-transform: translateX(0%) translateY(0%);
  transform: translateX(0%) translateY(0%);
  transition: all .3s ease;
  z-index: -1;
}

.nav__list-item:hover:before {
  width: 100%;
}

body.nav-active .menu-icon__line {
  background-color: #000;
  -webkit-transform: translateX(0px) rotate(-45deg);
  transform: translateX(0px) rotate(-45deg);
}

body.nav-active .menu-icon__line-left {
  -webkit-transform: translateX(1px) rotate(45deg);
  transform: translateX(1px) rotate(45deg);
}

body.nav-active .menu-icon__line-right {
  -webkit-transform: translateX(-2px) rotate(45deg);
  transform: translateX(-2px) rotate(45deg);
}

body.nav-active .nav {
  visibility: visible;
}

body.nav-active .nav:before,
body.nav-active .nav:after {
  -webkit-transform: translateX(0%) translateY(0%);
  transform: translateX(0%) translateY(0%);
}

body.nav-active .nav:after {
  transition-delay: .1s;
}

body.nav-active .nav:before {
  transition-delay: 0s;
}

body.nav-active .nav__content {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

body.nav-active .nav__list-item {
  opacity: 1;
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  transition: opacity .3s ease, color .3s ease, -webkit-transform .3s ease;
  transition: opacity .3s ease, transform .3s ease, color .3s ease;
  transition: opacity .3s ease, transform .3s ease, color .3s ease, -webkit-transform .3s ease;
}

.nav-active .nav__list-item:nth-child(0) {
  transition-delay: 0.5s;
}

.nav-active .nav__list-item:nth-child(1) {
  transition-delay: 0.6s;
}

.nav-active .nav__list-item:nth-child(2) {
  transition-delay: 0.7s;
}

.nav-active .nav__list-item:nth-child(3) {
  transition-delay: 0.8s;
}

.nav-active .nav__list-item:nth-child(4) {
  transition-delay: 0.9s;
}
.nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav__list-item {
  position: relative;
  display: inline-block;
  opacity: 0;
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  transition: opacity .3s ease, color .3s ease, -webkit-transform .3s ease;
  transition: opacity .3s ease, transform .3s ease, color .3s ease;
  transition: opacity .3s ease, transform .3s ease, color .3s ease, -webkit-transform .3s ease;
  margin-left: 10px;
  cursor: pointer;
}