body {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
margin: 0;
font-family: 'Inter', sans-serif;
}

.bulletin-board {
text-align: center;
padding: 40px 10px;
background-color: #f7f7f7;
border-radius: 8px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
max-width: 600px;
width: 100%;
height: 70%;
margin-top: -50px;
}

table {
border-collapse: collapse;
width: 100%;
}

th, td {
border: 1px solid black;
padding: 8px;
text-align: center;
font-size: 11px;
}

.bulletin-board h1 {
font-size: 30px;
margin-bottom: 20px;
text-align: left;
}
.search-container {
display: flex;
align-items: center;
justify-content: flex-end;
margin-right: 3%;
}

.search-container label {
margin-left: 10px;
font-size: 11px;
font-weight: bolder;
}

.search-container select,
.search-container input[type="text"],
.search-container button {
margin-left: 5px;
}

#pagingul {
list-style-type: none;
padding: 0;
margin: 0;
display: flex; /* 가로 정렬을 위해 flex 속성 적용 */
justify-content: center; /* 가운데 정렬 */

}

#pagingul li {
margin-right: 5px; /* 각 페이지 번호 사이의 간격 */
}

#pagingul li a {
text-decoration: none;
padding: 5px 10px;
background-color: #f2f2f2;
color: #000;
}

#pagingul li a:hover {
background-color: #ccc;
}
.pagination-button {
margin-right: 5px;
}
.pagination-container {
display: flex;
justify-content: center;
margin-top: 20px;
}

#pagingul li a.active {
background-color: #f00;
}