.lContainer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/public/images/second.jpg');
  }
.lButton{
    background-color: rgb(252, 119, 145);
}

.lButton:hover{
    background-color: rgb(255, 0, 55);
    color: rgb(248, 200, 66);
}
.lTitle{
    color: #C32621;
    text-shadow: 2px 2px 4px red;

}
.lSubTitle{
    color:white;
    text-shadow: 2px 2px 4px red;
  }
  .lInputAddress:hover{
    border: 1px solid rgb(235, 159, 61);
    color:rgb(197, 137, 46);
    background-color: rgb(248, 65, 104);
  }