.fContainer{
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)), url('/public/images/first.gif');
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y:scroll ;
}

.fButton{
    background-color:#2c7eff;
  border: white 1px;
  }

  .fButton:hover{
    background-color: rgb(4, 49, 250);
    color:rgb(45, 175, 226);
}
.fTitle{
  color:white;
  text-shadow: 2px 2px 4px blue;
}
.fSubTitle{
  color:white;
  text-shadow: 2px 2px 4px blue;
}
.fInputData:hover{
  border: 1px solid skyblue;
  color:rgb(74, 247, 247);
  background-color: rgb(145, 145, 240);
}

.fInputData{
  border: 1px solid #d9e0e6;
  background-color: #f8fafb;
  width: 40%;
  height: 54px;
  border-radius: 16px;
  padding: 14px 15px;
  font-size: 16px;
  box-sizing: border-box;
  outline: none;
  margin-bottom: 5px;
}